In [12]:
import thinkstats2
import brfss
import thinkplot
from scipy.stats import norm
df = brfss.ReadBrfss()

In [3]:
df.head()

   age  sex    wtyrago      finalwt  wtkg2  htm3
0   82    2  76.363636   185.870345  70.91   157
1   65    2  72.727273   126.603027  72.73   163
2   48    2        NaN   181.063210    NaN   165
3   61    1  73.636364   517.926275  73.64   170
4   26    1  88.636364  1252.624630  88.64   185

In [11]:
male = df[df.sex == 1]
meanMaleHeight = male.htm3.mean()
meanMaleHeight

178.06622109101272

In [10]:
stdmhgt = male.htm3.std()
stdmhgt

7.723563454782443

In [16]:
def heightConv(feet,inches):
    fin = (feet * 12)+inches
    cm = fin * 2.54
    return cm
blueManMin = heightConv(5,10)   
blueManMax = heightConv(6,1)
blueManMin, blueManMax

(177.8, 185.42000000000002)

In [29]:
dist = norm(loc=meanMaleHeight, scale=stdmhgt)
dist

In [31]:
minEligable = dist.cdf(blueManMin)
maxEligable = dist.cdf(blueManMax)
minEligable, maxEligable, maxEligable - minEligable

(0.48625170584113814, 0.82948258227768001, 0.34323087643654188)